

<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf="dishes">
   
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
        <img height="200px" src={{dish.image}} alt={{dish.name}}>
        
        <mat-grid-tile-footer>
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
       
    </mat-grid-list>
  </div>

  <div  [hidden]="dishes">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

</div>

<!--


<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">





<div fxFlex="40" *ngIf="dish">
 
<mat-card >
  <div><b>{{dish.name | uppercase}}</b></div>
  <img height="400px" src={{dish.image}} alt={{dish.name}}><br>
  
  <mat-card-content>
    <p>{{ dish.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

</div>

<div fxFlex="40">
  <mat-card>
    <div style="text-transform: uppercase;"><b>Comments</b></div>

    <mat-list  *ngFor="let comment of dish.comments">
      <mat-list-item> {{ comment.comment}}<br/>{{comment.rating}} Stars<br/>--{{comment.author}} {{comment.date | date:'MMM d, y'}}</mat-list-item>
     <br>
     </mat-list>
  </mat-card>
</div>


</div>

-->
